.mt-150{
 margin-top: 150px;
}

.mx-10{
 margin-left: 5px;
 margin-right: 5px;
}

.px-5{
 padding-left: 5px;
 padding-right:5px;
}

.mr-5{
 margin-right: 5px;
}

.padding{
 padding: 10px;
}

.search-box {
 position: relative;
 width: 200px;
}

.search-box input {
 width: 100%;
 padding: 10px 35px 10px 10px;
 border: 2px solid #ccc;
 border-radius: 25px;
 font-size: 16px;
 outline: none;
 transition: .3s;
}

.bg-\[\#0F172A\] .search-box input { 
    border-color: #374151;
}

.search-box input:focus {
   border-color: #3B82F6;
}

.search-box i {
 position: absolute;
 right: 10px;
 top: 50%;
 transform: translateY(-50%);
 cursor: pointer;
 color: #4b5563;
}

.bg-\[\#0F172A\] .search-box i {
    color: #9CA3AF;
}

.active-lg{
 cursor: pointer;
 background-color: #3B82F6;
 color: #F7F9F9;
 transition: all 0.3s ease-in-out;
 -webkit-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 padding: 10px;
}

.ative-sm{
  border-right: 5px solid ;
}

.bg-\[\#F8FAFC\] .active-lg {
    background-color: #1D4ED8;
    color: #FFFFFF;
}